/*!
 * Start Bootstrap - Scrolling Nav HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    width: 100%;
    height: 100%;
    background: #ffffff;
    font-family: "DejaVu Sans Mono";
}

html {
    width: 100%;
    height: 100%;
}

#nav-header{
    background-color: #ffffff;
    border: none;
}

#carousel{
    height: 500px;
    position: relative;
    top:91px;
}


#carousel .item img{
    width: 100%;
    height: 500px;

}

.column {
    margin: 15px 15px 0;
    padding: 0;
}
.column:last-child {
    padding-bottom: 60px;
}
.column::after {
    content: '';
    clear: both;
    display: block;
}
/*.column div {*/
    /*position: relative;*/
    /*float: left;*/
    /*width: 300px;*/
    /*height: 200px;*/
    /*margin: 0 0 0 25px;*/
    /*padding: 0;*/
/*}*/
.column div:first-child {
    margin-left: 0;
}
.column div span {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #444;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0;
}
figure {
    width: 100%;
    height: auto;
    max-height: 500px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}
figure:hover+span {
    bottom: 240px;
    opacity: 1;
    z-index:9999;
    color: #333;
    font-weight: bold;
}

.bottom-section{
    border-top: 2px solid #455a64;
    min-height: 300px;
    background-color: #141313;
}

.bottom-section .widget{
    color: #f7f7f7;
    margin-top: 50px;
}

.bottom-section .widget ul li a{
    color: #f7f7f7 !important;
    margin-top: 5px;
    text-decoration: none;
}

.bottom-section .widget ul li a:hover{
    color: #ededed !important;
    margin-top: 5px;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
    -o-transition: all 0.3s ease-out;  /* Opera 10.50â€“12.00 */
    transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.footer{
    width: 100%;
    height: 61px;
    text-align: center;
    background-color: #191919;
    font: 15px Tahoma, Helvetica, Arial, Sans-Serif;
    color: #fafafa;
}

.footer p {
    margin: 24px !important;
}


/*figure img:hover {*/
    /*-webkit-filter: blur(4px) !important;*/
/*}*/


figure:hover img {
    opacity: 0.3;
    display: block;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    background-color: black !important;
}

.hover03 figure img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .3s ease-in-out;
    transition: .4s ease-in-out;
    width: 100%;
    height: auto;
    max-height: 500px;
}
.hover03 figure:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
    width: 100%;
    height: auto;
    max-height: 500px;
}

hr.style11 {
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

hr.style14 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/* Rotate */
.hover06 figure img {
    -webkit-transform: rotate(15deg) scale(1.4);
    transform: rotate(15deg) scale(1.4);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover06 figure:hover img {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
}

.footer-social-icons {
    width: auto;
    display: block;
    top: 180px;
    position: relative;
}

.follow-us{
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    text-shadow: 1px 1px 1px #888;
    margin-left: 15px;
}

.social-icon {
    color: #fff;
}

ul.social-icons {
    margin-top: 10px;

}

.social-icons li {
    vertical-align: top;
    display: inline;
}

.social-icons a {
    color: #fff !important;
    text-decoration: none;
}

.powered{
    color: #333333;
    text-decoration: inherit !important;
}

.powered:hover{
    color: #FAFAFA;
}

.powered:hover i{
    color: #FAFAFA;
}

.powered i{
    color: #333333;
}


.fa-facebook {
    padding:10px 14px 7px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-twitter {
    padding:10px 10px 7px 10px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-instagram {
    padding:10px 12px 7px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-instagram:hover {
    background-color: #125688;
}

.fa-youtube {
    padding:10px 12px 7px 11px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-youtube:hover {
    background-color: #e64a41;
}

.fa-linkedin {
    padding:10px 11px 8px 11px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa-google-plus {
    padding:10px 10px 7px 10px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-google-plus:hover {
    background-color: #e25714;
}


.titulo{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #444444;
    padding: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#djs{
    width: 100%;
    background-color: #fafafa;
}

/* Shine */
.hover14 figure {
    position: relative;
}
.hover14 figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.hover14 figure:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

.list-group a{
    text-decoration: none !important;
}

.list-group a:hover{
    font-weight: bold !important;
}

.navbar-default .navbar-nav>li>a{
    color: #777777 !important;
    font-size: 15px;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #888888 !important;
    font-weight: bold;
}

.ui-effects-transfer { border: 2px dotted gray; }

.layer{
    width: 200px;
    height: auto;
    position: absolute;
    top: 30px;
    background-color: #ffffff;

}

#galeria img{
    min-height: 200px;
}

#galeria .caption{
    min-height: 155px;
}

#galeria .caption h4{
    padding: 15px;
}

.badge{
    display: none;
}

#galeria .thumbnail{
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: none !important;
    padding: 0;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #ccc;
}

#galeria .thumbnail img{
    width: 100%;
}

.delay{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.logo{
    width: 135px;
    position: relative;
    margin: auto;
    padding: 5px;
}


.logo-menu-hide{
    display: none;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }

    .hide-layer{
        opacity: 0 !important;
        -webkit-transition: background .3s ease-in-out,padding .3s ease-in-out;
        -moz-transition: background .3s ease-in-out,padding .3s ease-in-out;
        transition: background .3s ease-in-out,padding .3s ease-in-out;
    }

    .set-logo-size{
        width: 200px;
        height: auto;
        position: absolute;
        top: 100px;
        background-color: #ffffff;
        left: 120px;
    }

    .logo-menu-show{
        display: block !important;
    }

    .set-shadow{
        box-shadow: 1px 1px 1px #888;
    }

    .blur{
        -webkit-filter: blur(4px) !important;
    }

}


/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */

.intro-section {
    height: 100%;
    padding-top: 110px;
    text-align: center;
    background: #fff;
}

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.box-shadow3{
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

#galeria .thumbnail:hover{
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19) !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19) !important;
}


.box-shadow{
    -webkit-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) !important;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) !important;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

figure {
    margin-bottom: 30px !important;
}