/*!CK:1585831397!*//*1456101298,*/

._1zr6{border:1px solid rgba(0, 0, 0, .1);height:74px;width:111px}._1zr6 .img{background-position:center;background-repeat:no-repeat;background-size:contain;height:100%;width:100%}._4yrd{color:#000}._4yre{padding:6px}
._18fs{border-bottom:1px solid #d3d7dc;margin:8px 0;padding-bottom:8px}._30ys ._18fs{margin-top:0}.fixed_always ._18fs{margin-top:8px}._18fs._252x{border-bottom:none;margin-bottom:0;padding-bottom:0}._252x ._252y{min-width:97px}
div._4vm5{margin-bottom:0}._3d5d{margin-bottom:1px}._3d5b{border-left:5px solid #d3d7dc;color:#89919c;display:block;padding:4px 0 4px 6px}._3d5b._-fk{border-left-color:#6a7180;font-weight:bold}._3d5b:hover{border-left-color:#89919c}
._53_y{border-top:1px solid #e5e5e5;padding:10px}._53_y:first-child{border-top:none}._5402{color:#141823;display:block;font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._5v4j{padding-bottom:3px}._5kb7{line-height:0}._5kb7>a{display:inline-block}._5v4k{display:inline-block;margin:3px 0 0 3px}._5v4k:after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}._4fpu{padding:55px 0 66px;text-align:center}._4fpv{background-image:url(/rsrc.php/v2/y2/r/l5aPruN9xMM.png);background-repeat:no-repeat;background-size:auto;background-position:0 -227px;height:52px;margin:0 auto;width:52px}._4fpw{color:gray;font-size:12px;line-height:16px;padding:13px 10px 10px}
._2ex9 .uiScrollableAreaWrap{max-height:500px}._1s52{padding:38px 0 44px;text-align:center}._1s53{background-image:url(/rsrc.php/v2/y2/r/l5aPruN9xMM.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;height:84px;margin:0 auto;width:84px}._1s54{color:gray;font-size:12px;line-height:16px;padding:13px 10px 10px}._1s55{display:block;padding:4px 0}
._5kjr{padding:12px}._5kjq{margin-bottom:16px}._5kjq:last-child{margin-bottom:0}._5kjo{padding:12px;position:relative}._5kjo ._b1e>a{margin:4px}._5kjs{margin:0 12px 8px 0}._5kjp{margin-right:4px}._47_c{color:#9197a3}._47_e{position:relative;top:2px}._2kgg .UFIBlingBoxText,._2kgg .UFIBlingBoxTimeline{position:relative;top:2px;vertical-align:middle}
._5drq{margin:5px 0 15px 0}._5em9{background:#e9eaed;color:#9197a3;display:inline-block;max-width:520px;overflow:hidden;padding:0 6px;text-overflow:ellipsis;text-shadow:0 1px 0 #fafafa;text-transform:uppercase}
._4-lt{padding:12px}._4-lu{color:#000;display:inline-block;font-size:13px;font-weight:bold;max-width:237px}._4-lv{margin-left:5px}._3520{vertical-align:middle}._3521{left:-2px;position:relative}._4-lt ._4-lu{max-width:100%}._d2d ._4-lu{max-width:89%;vertical-align:middle}
._5dro{background-image:url(data:image/gif;base64,R0lGODlhAQACAKIAAAAAAP///9PW2/Ly8v///wAAAAAAAAAAACH5BAEAAAQALAAAAAABAAIAAAMCKJMAOw==);background-repeat:repeat-x;background-size:auto;background-position:0 0;background-position:center;box-sizing:border-box;padding:0 20px;text-align:center;text-transform:uppercase;white-space:nowrap;width:100%}
._12u8{background:#e9eaed;color:#89919c;font-size:9px;padding:3px 20px 0 6px;position:relative}._12u8 ._5xn{border:4px solid transparent;border-top-color:#89919c;display:inline-block;height:5px;position:absolute;right:6px;top:6px;width:0}
._5asl{position:relative}._5asl ._5asm{display:block}._5eg8{background:url(/rsrc.php/v2/yo/r/YGgz9e4B0yW.png) 0 bottom repeat-x;background-size:100% 40px;bottom:0;height:100%;left:0;position:absolute;right:0;top:0;width:100%}._5pin ._5eg8{background:none}._5asn{border-radius:2px;bottom:4px;color:#fff;padding:4px;position:absolute;right:4px;text-shadow:0 1px 8px rgba(0, 0, 0, .3);z-index:3}._5asn:hover{text-decoration:none}
._5sim{padding-bottom:4px}._5sim ._5ass{float:left;margin:4px 0 0 4px}._5sim ._5ass .uiVideoLinkImg{height:87px;width:auto}._5sim ._5cly .uiVideoLinkImg{height:176px;width:auto}
._5txy ._5ba1._3fyp{padding:0}._5txy ._23xb{margin-bottom:0;margin-top:30px}._5txy ._252x~div ._23xb{margin:16px 0}._19x_{position:fixed;visibility:hidden}._3k1u{margin-bottom:36px}._3k1u ._19x_,._3k1u._19x_{position:relative;visibility:visible}
.profile .app_tab{position:relative;zoom:1;overflow:hidden}.pagelet_app_runner_centered{text-align:center}
.fbTimelineFeedbackActions{background-color:#e9eaed;padding:5px 12px}.fbTimelineUFI .fbTimelineFeedbackHeader .fbTimelineFeedbackActions.withActorSelector{line-height:24px;padding-bottom:3px;padding-top:3px}.fbTimelineUFI .fbTimelineFeedbackHeader .fbTimelineFeedbackActions.withActorSelector .UFIBlingBoxTimeline{padding-right:8px}.fbTimelineFeedbackActions.withActorSelector .lfloat{padding-top:2px}.fbTimelineMiniUFI .fbTimelineFeedbackActions{background:transparent;padding:0}.fbTimelineFeedbackHeader form{display:inline}.fbTimelineUFI .UIActionLinks_bottom a,.fbTimelineUFI .fbTimelineFeedbackActions input,.fbTimelineUFI .UIActionLinks .uiLinkButton,.fbTimelineUFI .UIActionLinks .uiLinkButton input,.fbTimelineUFI div.fbTimelineFeedbackActions input:hover,.fbTimelineUFI .fbTimelineFeedbackActions button.as_link{color:#3b5998}.fbTimelineFeedbackHeader .uiBlingBox,.fbTimelineFeedbackHeader .uiBlingBox:hover{border-style:none;height:13px;padding:0}.fbTimelineFeedbackHeader .uiBlingBox .text{vertical-align:baseline}.fbTimelineFeedbackComments a:hover,.fbTimelineFeedbackLikes a:hover,.fbTimelineFeedbackShares a:hover{text-decoration:none}.fbTimelineFeedbackComments a,.fbTimelineFeedbackLikes a,.fbTimelineFeedbackShares a{padding-left:18px;position:relative}.fbTimelineFeedbackComments i,.fbTimelineFeedbackLikes i,.fbTimelineFeedbackShares i{display:block;left:0;position:absolute;top:-1px;width:14px}.fbTimelineFeedbackLikes i{background-image:url(/rsrc.php/v2/y2/r/l5aPruN9xMM.png);background-repeat:no-repeat;background-size:auto;background-position:-61px -199px;height:13px}.fbTimelineFeedbackComments i{background-image:url(/rsrc.php/v2/y2/r/l5aPruN9xMM.png);background-repeat:no-repeat;background-size:auto;background-position:-62px -183px;height:15px}.fbTimelineFeedbackShares i{background-image:url(/rsrc.php/v2/y2/r/l5aPruN9xMM.png);background-repeat:no-repeat;background-size:auto;background-position:-61px -166px;height:16px}
.fbTimelineUFI{background:#fff;position:relative}html .timelineUnitContainer .fbTimelineUFI{margin-bottom:-12px}html .timelineUnitContainer .fbTimelineUFIEmpty{margin-top:-3px}.fbTimelineUFI .fbUfi{padding:0;width:100%}.fbTimelineUFI .uiUfi .ufiItem{border:0;padding:5px 12px}.fbTimelineFeedbackLikes,.fbTimelineFeedbackComments,.fbTimelineFeedbackShares{float:right;margin-left:5px}.fbTimelineOneColumn .fbTimelineUFI .uiUfiComment .commentContent{width:600px}.fbTimelineMiniUFI{margin:0 0 -2px}.fbTimelineMiniUFI .miniActionList{display:inline-block}.fbTimelineMiniUFI .uiLoadingIndicatorAsync{margin:0 0 -2px 6px}.fbTimelineUFI a.UFILinkBright{color:#5890ff}
._5ig0{background-color:#000;color:#fff;display:inline-block;position:relative}._56cl{height:100%;width:100%}._56dc{background-repeat:no-repeat;background-size:cover;height:100%;width:100%}._5ig6{bottom:5px;position:absolute;right:8px;text-shadow:1px 1px #000}._5ig0::after{border:1px solid rgba(0, 0, 0, .03);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
._3uzl{bottom:0;height:100%;left:0;position:absolute;right:0;top:0;width:100%}._3uzm{left:50%;position:absolute;top:50%}._3uzn{background-image:url(/rsrc.php/v2/y2/r/l5aPruN9xMM.png);background-repeat:no-repeat;background-size:auto;background-position:0 -85px;height:80px;margin:-40px 0 0 -40px;width:80px}._3uzo{background-image:url(/rsrc.php/v2/y2/r/l5aPruN9xMM.png);background-repeat:no-repeat;background-size:auto;background-position:0 -166px;height:60px;margin:-30px 0 0 -30px;width:60px}._3uzp{background-image:url(/rsrc.php/v2/y2/r/l5aPruN9xMM.png);background-repeat:no-repeat;background-size:auto;background-position:0 -280px;height:48px;margin:-24px 0 0 -24px;width:48px}._3uzq{opacity:0;transition:opacity .3s cubic-bezier(.23, 1, .32, 1)}._3uzq:hover{opacity:1}
._18xu._3htz{height:auto;left:50%;position:absolute;top:50%;width:auto}._530-{background-image:url(/rsrc.php/v2/y2/r/l5aPruN9xMM.png);background-repeat:no-repeat;background-size:auto;background-position:0 -85px;background-color:transparent;border:none;border-radius:50%;cursor:pointer;height:80px;margin:-40px 0 0 -40px;outline:none;padding:0;width:80px}._530-:hover{background-color:rgba(20, 22, 26, .7)}
._5l7x{background-image:url(/rsrc.php/v2/y2/r/l5aPruN9xMM.png);background-repeat:no-repeat;background-size:auto;background-position:0 -329px;-webkit-animation:rotateSpinner 1.0s linear infinite;cursor:pointer;display:block;height:48px;left:50%;margin:-24px 0 0 -24px;position:absolute;top:50%;width:48px}@-webkit-keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.sp_NP-_WooRltd{background-image:url(/rsrc.php/v2/y2/r/l5aPruN9xMM.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_NP-_WooRltd.sx_579ec4{width:16px;height:15px;background-position:-61px -183px}.sp_NP-_WooRltd.sx_5ff18b{width:15px;height:13px;background-position:-61px -199px}.sp_NP-_WooRltd.sx_a732a6{width:16px;height:16px;background-position:-61px -166px}.sp_NP-_WooRltd.sx_0936ea{background-position:-61px -213px}.sp_NP-_WooRltd.sx_9b9ffd{background-position:-53px -227px}.sp_NP-_WooRltd.sx_ea77f8{background-position:-66px -227px}.sp_NP-_WooRltd.sx_31c4c4{width:84px;height:84px;background-position:0 0}.sp_NP-_WooRltd.sx_638422{width:52px;height:52px;background-position:0 -227px}.sp_NP-_WooRltd.sx_942d69{width:48px;height:48px;background-position:0 -280px}.sp_NP-_WooRltd.sx_ffdf66{width:60px;height:60px;background-position:0 -166px}.sp_NP-_WooRltd.sx_737590{width:80px;height:80px;background-position:0 -85px}.sp_NP-_WooRltd.sx_28e3a7{width:48px;height:48px;background-position:0 -329px}

#bootloader_v6Zq_{height:42px;}.bootloader_v6Zq_{display:block!important;}