/*!CK:3629732828!*//*1453813824,*/

._50d1{border-radius:4px;bottom:30px;left:30px;list-style:none;margin:0;opacity:.96;position:fixed;width:245px;z-index:401}._6nw ._50d1{font-family:helvetica, arial, sans-serif;width:320px}

#bootloader_gjwuX{height:42px;}.bootloader_gjwuX{display:block!important;}