/*!CK:3904524814!*//*1456115259,*/

._5ud-{float:right;margin-right:0}._1aic{min-width:325px}._5ud_{width:100%}.__0y{width:200px}._aop{color:#666}._5ud_ a{font-size:14px;font-weight:500}._5ud- a{font-size:12px}
.fbPageBanner{position:relative;z-index:301}.hideBanner .fbPageBanner,.fixedBody .fbPageBanner{display:none}.fbPageBannerInner{margin:auto;max-width:950px;min-width:920px}.sidebarMode .fbPageBannerInner{left:-102px;position:relative}
div._4-7n ._572u{border-bottom-left-radius:2px;border-bottom-right-radius:2px;margin:0;padding:6px 7px 6px 8px}._4-7n._157k ._53ik ._53io{background-image:url(/rsrc.php/v2/yq/r/LXQaqfwANV7.png);background-repeat:no-repeat;background-size:auto;background-position:0 -59px}._4-7n ._h5y{border-top-left-radius:2px;border-top-right-radius:2px}
._5l9y{color:#c4cde0;text-decoration:underline}div._3d9x{background-color:#355089;border:1px solid #4e69a2;color:#c4cde0}div._3d9x .fbPageBannerInner{min-width:100px}
.sp_YTrt2mxwDsp{background-image:url(/rsrc.php/v2/yq/r/LXQaqfwANV7.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_YTrt2mxwDsp.sx_2f28d4{width:16px;height:16px;background-position:0 -42px}.sp_YTrt2mxwDsp.sx_4bd198{width:12px;height:12px;background-position:0 -68px}.sp_YTrt2mxwDsp.sx_03664b{width:16px;height:8px;background-position:0 -59px}.sp_YTrt2mxwDsp.sx_185fff{background-position:0 0}.sp_YTrt2mxwDsp.sx_aceddb{background-position:0 -21px}

#bootloader_R0AFT{height:42px;}.bootloader_R0AFT{display:block!important;}